
<title>菜单管理</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>菜单管理</cite></a>
    <a><cite>XXX</cite></a>
  </div>
</div>

<style>
/* 这段样式只是用于演示 */

</style>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">YYY</div>
        <div class="layui-card-body">
          
          <table id="menuTree" ></table>
          <script type="text/html" id="menutoolbar">
            <div class="layui-btn-container">
              <span class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe608;</i>新建</span>
              <span class="layui-btn layui-btn-sm" lay-event="allmenu">全展开</span>
              <span class="layui-btn layui-btn-sm" lay-event="rootmenu">全关闭</span>
           
            </div>
          


          </script>
          <script type="text/html" id="tbBar">
              <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
              <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          </script>
           
        </div>
      </div>
    </div>
   
  </div>
</div>

<script>
layui.use(['admin','treeTable'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,element = layui.element
  ,view=layui.view
  ,form=layui.form
  ,treeTable=layui.treeTable
  ,router = layui.router();
  var insmenu = treeTable.render({
            elem: '#menuTree',
            url: layui.setter.apiurl+'/sys/menu/list',
            type:'post',
            toolbar: '#menutoolbar',
            height: 'full-200',
            headers:{Authorization:layui.data(layui.setter.tableName).Authorization},
            tree: {
                iconIndex: 1,
                isPidData: true,
                idName: 'id',
                pidName: 'pid'
            },
           
            cols: [
                
                [
                    {type: 'numbers',title:'序号',width:70},
                  
                    {field: 'title', title: '菜单名称', minWidth: 150},
                     {field: 'name',title: '路径名称', align: 'center', width: 210},
                     { title: '类型',width:80,templet:function(d){
                        return d.type==1?'菜单':'接口';
                     }},
                    {
                        title: '菜单图标', align: 'center', 
                        templet: '<p><i class="layui-icon {{d.icon}}"></i></p>'
                    },
                    {field: 'jump', title: '路径'},
                    {title: '子权限',width:190, templet: function(d){
                      var tp='';
                        layui.each(d.smallAuth.split(','),function(i,v){
                          tp=tp+'<span class="layui-badge">'+v+'</span>'+'\n'
                        })
                        return tp;

                    }},
                   
                    // {
                    //     title: '创建时间', templet: function (d) {
                    //         return layui.util.toDateString(d.createTime);
                    //     }
                    // },
                    {align: 'center', toolbar: '#tbBar', title: '操作', width: 120}
                ]
            ],
            style: 'margin-top:0;'
            ,done:function(r){
            
             if (typeof layui.cache.menutree=="undefined") {
               layui.cache.menutree=r;
             }
       
          },
          error:function(e,msg){
            if (e.readyState==0) {
              layer.msg('服务器或网路有问题',{time:'1000'},function(){
                return location.hash='/user/login';
              })
            }
          }
        });
  treeTable.on('toolbar(menuTree)', function(obj){
  
    switch(obj.event){
      case 'add':
        // var data = checkStatus.data;
        // layer.alert(layui.util.escape(JSON.stringify(data)));
        admin.popup({
          id: 'addmenu'
          ,title:'添加菜单'
          ,area:admin.screen() < 2 ? ['100%', '100%'] : ['800px', '600px']
          ,success: function(l,i){
            view(this.id).render('/sys/menu/add').done(function(){
              form.on('submit(addmenu)', function(data){
                  admin.req({
                    url:layui.setter.apiurl+'/sys/menu/add'
                    ,type:'post'
                    ,data:data.field
                    ,done:function(r){
                      if (r.msg=='ok') {
                        layer.msg('添加成功',{time:1000},function(){
                           if (typeof layui.cache.menutree!="undefined") {
                              delete layui.cache.menutree;
                            }
                            if (typeof layui.cache.menulist!="undefined") {
                              delete layui.cache.menulist;
                            }
                          admin.events.refresh();
                        })

                      }
                    
                    }
                  })
                return false;
              });
            });
          }
        })
      break;
    case 'allmenu':
      insmenu.expandAll();
      break;
    case 'rootmenu':
      insmenu.foldAll();
      break;
    }
  });
  treeTable.on('tool(menuTree)', function(obj){
     var event = obj.event;
      if (event === 'del') {
        layer.confirm('确定删除吗？', function(index){
        
          admin.req({
            url:layui.setter.apiurl+'/sys/menu/delete'
            ,type:'delete'
            ,data:{id:obj.data.id}
            ,done:function(r){
              layer.msg(r.msg);
              if(r.msg=='ok'){
                if (layui.cache.menutree) {
                  delete layui.cache.menutree;
                }
                if (layui.cache.menulist) {
                  delete layui.cache.menulist;
                }
                admin.events.refresh();
              }
            }
          })
         
        });
      } else if (event === 'edit') {
          admin.popup({
          id: 'addmenu'
          ,title:'修改菜单'
          ,area:admin.screen() < 2 ? ['100%', '100%'] : ['800px', '600px']
          ,success: function(l,i){
            view(this.id).render('/sys/menu/edit',obj.data);
          }
        })
          
      }
  })

  
});
</script>