

<style>
/* 这段样式只是用于演示 */
.layui-layer-page .layui-layer-content {
    background-color: #fafafa!important;
    color: #5f5f5f!important;
  }
</style>


<div class="layui-fluid layui-bg-gray" style="padding:0;">

  <div class="layui-panel">
    <div style="padding:10px;">
      <script type="text/html" template lay-done="layui.data.deptedit(d)">
      <form class="layui-form layui-form-pane" action="" lay-filter='deptedit'>
        <input type="hidden" name="id">
        <div id="selectdeptree"></div>
        <div class="layui-form-item">
          <label class="layui-form-label">部门名称</label>
          <div class="layui-input-block">
            <input type="text" name="name" autocomplete="off" lay-verify="required" lay-reqtext="名是必填项，岂能为空？" placeholder="" class="layui-input">
          </div>
        </div>
        
        <div class="layui-form-item">
          <label class="layui-form-label">部门电话</label>
          <div class="layui-input-block">
            <input type="text" name="tel" autocomplete="off" placeholder="" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">部门email</label>
          <div class="layui-input-block">
            <input type="text" name="email" autocomplete="off" placeholder="" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane="">
          <label class="layui-form-label">状态</label>
          <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="开启" checked="">
            <input type="radio" name="status" value="0" title="停用">
            
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">排序</label>
          <div class="layui-input-block">
            <input type="number" name="sort" autocomplete="off" placeholder="" class="layui-input">
          </div>
        </div>
        
        
        <div class="layui-form-item" style="text-align:right;margin-top:30px ;">
          <button class="layui-btn" lay-submit="" lay-filter="editdept">保存</button>
        </div>
      </form>
      </script>
    </div>
  </div> 
</div>

<script>
layui.data.deptedit=function(d){
  layui.use(['admin','xmSelect'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,element = layui.element
  ,form=layui.form
  ,router = layui.router();
  form.render();
  form.val('deptedit',d.params);
  form.on('submit(editdept)', function(data){
    
    if (data.field.pid=='') {
      data.field.pid=0;
    }


    admin.req({
      url:layui.setter.apiurl+'/sys/dept/update'
      ,type:'put'
      ,data:data.field
      ,done:function(r){
        if (r.msg=='ok') {
          layer.msg('修改成功',{time:1000},function(){
            delete layui.cache.deptree;
            admin.events.refresh();
          })

        }
      
      }
    })
    return false;
  });
   var demo1 = xmSelect.render({
    el: '#selectdeptree', 
    radio: true,
    tips: '选择上级部门',
    name:'pid',
    prop: {
      name: 'name',
      value: 'id',
    },
    expandedKeys: true,
    clickClose: true,
    model: {
      icon: 'hidden',
      label: {
        type: 'text'
      }
    },
    clickClose: true,
    //树
    tree: {
      show: true,
      clickExpand: false,
      //非严格模式
      strict: false,
      //默认展开节点
      expandedKeys: true,
    },
    data: layui.cache.deptree
  })
  demo1.setValue([d.params.pid]);


  
});

}  

</script>